# exclude everything
.sqlglot
lib/connect.py
runs/DAGs/*
runs/dependencies/*
runs/executed_sql/*

# exception to the rule
!runs/DAGs/.gitkeep
!runs/dependencies/.gitkeep 
!runs/executed_sql/.gitkeep 

